
.header-column-container {
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: center;
}

.highlight {
    background: lightgray;
}

.header-container {
    margin-bottom: 10px;
}