.table-details-columns {
    width: 600px;
}

.tag-content  {
    margin: 20px 20px;
    background: #D2B48C;
    width: 10%;
}

.tag-container {
    border: 1px solid grey;
    width: 100%;
}

.table-container{
    width: 100%;
}


.mat-header-row {
    background: #D2B48C;
}